body {
    background-image: url(./Images/textured-background.jpg);
    background-size: cover;
}

h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
}
h5 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
}

.navbar {
    list-style-type: none;
    margin: 0;
    background-color: #fff;
    padding: 0px;
    border-bottom: #ccc solid 2px;
    width: 100%;
    height: 57px;
}

.display-6 {
    margin-left: 30px;
    background-color: #4aaaa5;
    color: #fff;
    text-align: center;
    margin-bottom: 0px;
    height: 55px;
    padding: 14px;
}

/* .nav-item {
    text-align: center;
} */

nav{
    padding: 0px;
    background-color: #fff;
}

#profile-pic {
    max-width: 100%;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
    display: block;
}

.border {
     padding-top: 30px;
     margin-top: 50px;
}

.footer-section {
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 28px;
    clear: both;
    border-top: 5px #4aaaa5 solid;
}

#aboutme {
    float: left;
}

/* .sidebar {
    margin-top: 30px;
    margin-bottom: 50px;
    max-width: 50%;
    max-height: 50%;
    display: inline-block;
} */



.icon-image {
    width: 46px;
}

.nav-link {
    color: grey;
}

#social-media {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}

.card {
    border: none;
}

.card-body {
    padding: 10px;
    margin: 0px;
}

.card-img-overlay {
    padding: 0px;
    margin-bottom: 15px;
}

.stretched-link {
    position: absolute;
    background: #4aaaa5;
    width: 93.5%;
    padding: 10px;
    margin: 0px;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.card-image-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.form-box {
    width: 75%;
}

h5 {
    margin-top: 40px;
}

hr {
    height: 1px;
    color: grey;
    background-color: grey;
}

@media screen and (max-width: 767px) {

    nav {
        margin: 0 auto;
    }

    .card {
        width: 100%;
        margin-left: 2px;
    }
    
    #row-bottom {
        margin-left: 95px;
    }

    #about {
        margin-left: 2px;
    }
}
